body {
    min-height: 100vh;
    padding-top: 3.25rem;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('https://w0.peakpx.com/wallpaper/841/871/HD-wallpaper-red-curtain-calm-cinema-cool-nice-theatre.jpg');
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.is-sparta {
    color: #527b8a !important;
}

.button.is-sparta {
    background-color: #608ca1;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #343c6e;
    color: #343c6e !important;
}

.modal-content {
    width: 600px;
    max-width: 80%;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.is-white {
    justify-content: center;
}

li {
    list-style: none;
}

.slide_wrapper {
    position: relative;
    max-width: 95%;
    width: 1600px;
    margin: 0 auto;
}

.slides {
    position: relative;
    left: 0;
    top: 0;
    max-width: 95%;
    width: 1700px;
}

.slides li:not(:last-child) {
    float: left;
    margin: 20px 10px 20px 10px;

}

.weather_info {
    padding-top: 20px;
}

.media-content2 {
    padding-top: 10px;
    padding-left: 15px;
}

