body {
    background-color: RGBA(232, 52, 78, 0.2);
    min-height: 100vh;
    padding-top: 3.25rem;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.is-sparta {
    color: #e8344e !important;
}

.button.is-sparta {
    background-color: #e8344e;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #e8344e;
    color: #e8344e !important;
}

.modal-content {
    width: 600px;
    max-width: 80%;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.is-white {
    justify-content: center;
}

.card{
    width: 95%;
    align-items: center;
}
.card_arr{
    /*현재 영역에서 FLEX 컨테이너 사용*/
    display: flex;
    /*아이템 배치는 왼쪽 기준 가로 형태*/
    flex-direction: row;
    /*메인 축 방향 정렬*/
    justify-content: center;
    /*수직 축 방향 정렬*/
    align-items: center;
    background-color: pink;
}
.card_body{
    /*아이템이 컨테이너에서 늘어날때 맞춰서 지정된 비율로 나누어지도록 결정하는 속성*/
    flex-grow: 1;
    /*아이템이 컨테이너에서 줄어들때 맞춰서 지정된 비율로 나누어지도록 결정하는 속성*/
    flex-shrink: 1;
    /*아이템의 기본 크기 flex-direction row : 너비 , column 높이 */
    flex-basis: 0;

}
.card_element{
    display: flex;
    flex-direction: column;

}
.card_img{
    margin:auto;
}
.card_img > img{
    width: 200px;
    height: 300px;
    object-fit: fill;
}
.card_desc{
    background-color: aqua;
    font-size: 0.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}